{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "Documentation de l'API",
        "contact": {
            "email": "contact@example.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Authentification utilisateur",
                "description": "Authentifie un utilisateur et génère un token d'accès API",
                "operationId": "api.login",
                "requestBody": {
                    "description": "Informations d'authentification",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Authentification réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Identifiants invalides",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/verify-otp": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Vérifier le code OTP",
                "description": "Vérifie le code OTP envoyé à l'utilisateur et marque son compte comme vérifié.",
                "operationId": "api.verify-otp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "identifier",
                                    "otp"
                                ],
                                "properties": {
                                    "identifier": {
                                        "type": "string",
                                        "example": "jean.dupont@example.com"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP vérifié avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_metadata": {
                                            "properties": {
                                                "success": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "OTP verified successfully."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "properties": {
                                                "identifier": {
                                                    "type": "string",
                                                    "example": "jean.dupont@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OTP ou identifiant invalide.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreurs de validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customers/{customerId}": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "Récupérer un client spécifique",
                "description": "Récupérer les informations d'un client spécifique par son ID avec ses adresses de livraison.",
                "operationId": "api.customers.show",
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "ID du client à récupérer",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client récupéré avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Client non trouvé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/customers": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "Récupérer tous les clients",
                "description": "Récupérer la liste de tous les clients avec leurs informations utilisateur et adresses de livraison.",
                "operationId": "api.customers.index",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomersResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "Créer un nouveau client",
                "description": "Enregistre un nouvel utilisateur en tant que client et envoie un code OTP pour vérification.",
                "operationId": "api.customers.store",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "phone_number",
                                    "password"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "Jean"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Dupont"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jean.dupont@example.com"
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "+237677123456"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "123 Rue Principale, Douala",
                                        "nullable": true
                                    },
                                    "current_balance": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 0,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Client créé avec succès. Un OTP a été envoyé pour vérification.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_metadata": {
                                            "properties": {
                                                "success": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Client created successfully. An OTP has been sent to your email/phone for verification."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "properties": {
                                                "identifier": {
                                                    "type": "string",
                                                    "example": "jean.dupont@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreurs de validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customers/{customer}/delivery-addresses": {
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "Créer une nouvelle adresse de livraison pour un client",
                "description": "Permet de créer une nouvelle adresse de livraison associée à un client spécifique.",
                "operationId": "api.customers.delivery-addresses.store",
                "parameters": [
                    {
                        "name": "customer",
                        "in": "path",
                        "description": "ID du client",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Données de l'adresse de livraison à créer",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCustomerDeliveryAddressRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Adresse de livraison créée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreCustomerDeliveryAddressResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Client non trouvé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/delivery-types": {
            "get": {
                "tags": [
                    "Livraison"
                ],
                "summary": "Récupérer tous les types de livraison",
                "description": "Récupérer la liste de tous les types de livraison disponibles.",
                "operationId": "api.delivery-types.index",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeliveryTypesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/delivery-persons/{deliveryPersonId}/orders": {
            "get": {
                "tags": [
                    "Livreurs"
                ],
                "summary": "Get all orders for a specific delivery person",
                "description": "Retrieves a paginated list of orders for a given delivery person, with optional filtering by status, order number, and delivery type.",
                "operationId": "api.delivery-persons.orders",
                "parameters": [
                    {
                        "name": "deliveryPersonId",
                        "in": "path",
                        "description": "ID of the delivery person",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter orders by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "confirmed",
                                "in_progress",
                                "delivered",
                                "cancelled",
                                "pending"
                            ]
                        }
                    },
                    {
                        "name": "order_number",
                        "in": "query",
                        "description": "Filter orders by order number (partial match)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "delivery_type",
                        "in": "query",
                        "description": "Filter orders by delivery type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "normal",
                                "fast"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of orders per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/DeliveryPersonOrderData"
                                                    }
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Commandes du livreur récupérées avec succès"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Delivery person not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/orders": {
            "get": {
                "tags": [
                    "Commandes"
                ],
                "summary": "Lister toutes les commandes",
                "description": "Récupère une liste de toutes les commandes existantes, incluant leurs articles.",
                "operationId": "api.orders.index",
                "responses": {
                    "200": {
                        "description": "Liste des commandes récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_metadata": {
                                            "properties": {
                                                "success": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Liste des commandes récupérée avec succès."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/OrderData"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Commandes"
                ],
                "summary": "Créer une nouvelle commande",
                "description": "Permet de créer une nouvelle commande avec ses articles.",
                "operationId": "api.orders.store",
                "requestBody": {
                    "description": "Données de la commande à créer",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreOrderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Commande créée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreOrderResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Ressource non trouvée (client, adresse de livraison, centre de distribution, produit)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation ou stock insuffisant",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/payment-methods": {
            "get": {
                "tags": [
                    "Paiement"
                ],
                "summary": "Récupérer toutes les méthodes de paiement",
                "description": "Récupérer la liste de toutes les méthodes de paiement disponibles.",
                "operationId": "api.payment-methods.index",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentMethodsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tracking/delivery": {
            "post": {
                "tags": [
                    "Suivi de Livraison"
                ],
                "summary": "Create a new delivery tracking record",
                "description": "Initializes a new tracking record for a delivery.",
                "operationId": "api.tracking.delivery.create",
                "requestBody": {
                    "description": "Data for creating a new delivery tracking record",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "order_id"
                                ],
                                "properties": {
                                    "order_id": {
                                        "description": "The ID of the order to be tracked",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Delivery tracking created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/DeliveryTrackingData"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Suivi de livraison créé avec succès."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tracking/delivery/active": {
            "get": {
                "tags": [
                    "Suivi de Livraison"
                ],
                "summary": "Get all active deliveries",
                "description": "Retrieves a list of all deliveries that are currently active.",
                "operationId": "api.tracking.delivery.active",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/DeliveryTrackingData"
                                                    }
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Active deliveries retrieved successfully."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tracking/delivery/{orderNumber}": {
            "get": {
                "tags": [
                    "Suivi de Livraison"
                ],
                "summary": "Get delivery tracking details",
                "description": "Retrieves the tracking details for a specific delivery.",
                "operationId": "api.tracking.delivery.details",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "The order number of the delivery to track",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/DeliveryTrackingData"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Delivery tracking details retrieved successfully."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Delivery not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tracking/delivery/{orderNumber}/start": {
            "post": {
                "tags": [
                    "Suivi de Livraison"
                ],
                "summary": "Start delivery tracking",
                "description": "Marks a delivery as started.",
                "operationId": "api.tracking.delivery.start",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "The order number of the delivery to start tracking",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/DeliveryTrackingData"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Delivery tracking started successfully."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Delivery not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tracking/delivery/{orderNumber}/position": {
            "patch": {
                "tags": [
                    "Suivi de Livraison"
                ],
                "summary": "Update delivery tracking position",
                "description": "Updates the geographical position of a delivery.",
                "operationId": "api.tracking.delivery.position.update",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "The order number of the delivery to update",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Geographical coordinates of the delivery",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "latitude",
                                    "longitude"
                                ],
                                "properties": {
                                    "latitude": {
                                        "description": "The latitude of the delivery",
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "longitude": {
                                        "description": "The longitude of the delivery",
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/DeliveryTrackingData"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Delivery tracking position updated successfully."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Delivery not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/distribution-centers/closest": {
            "get": {
                "tags": [
                    "Centres de Distribution"
                ],
                "summary": "Find the closest distribution center to a given latitude and longitude",
                "description": "Retrieves the closest distribution center based on provided geographical coordinates.",
                "operationId": "api.distribution-centers.closest",
                "parameters": [
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude of the location",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude of the location",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/DistributionCenterData"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Centre de distribution le plus proche trouvé."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No distribution center found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Aucun centre de distribution trouvé."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/distribution-centers/{id}/products": {
            "get": {
                "tags": [
                    "Produits d'un centre de distribution"
                ],
                "summary": "Récupérer les produits d'un centre de distribution",
                "description": "Récupère la liste de tous les produits disponibles dans un centre de distribution spécifique, avec leurs détails et quantités en stock.",
                "operationId": "api.distribution-centers.products",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du centre de distribution",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des produits récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DistributionCenterProductsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Centre de distribution non trouvé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/distribution-centers": {
            "get": {
                "tags": [
                    "Centres de Distribution"
                ],
                "summary": "Récupérer tous les centres de distribution",
                "description": "Récupérer la liste de tous les centres de distribution.",
                "operationId": "api.distribution-centers.index",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DistributionCentersResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "LoginRequest": {
                "required": [
                    "login",
                    "password"
                ],
                "properties": {
                    "login": {
                        "description": "Email ou téléphone de l'utilisateur (+237690000000)",
                        "type": "string",
                        "example": "admin@petrolex.com"
                    },
                    "password": {
                        "description": "Mot de passe",
                        "type": "string",
                        "format": "password",
                        "example": "password"
                    }
                },
                "type": "object"
            },
            "TokenData": {
                "properties": {
                    "access_token": {
                        "description": "Token d'accès Bearer",
                        "type": "string",
                        "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                    },
                    "token_type": {
                        "description": "Type de token",
                        "type": "string",
                        "example": "bearer"
                    }
                },
                "type": "object"
            },
            "AuthData": {
                "description": "Objet de transfert de données contenant le token et les informations de l'utilisateur authentifié",
                "properties": {
                    "token": {
                        "$ref": "#/components/schemas/TokenData"
                    },
                    "user": {
                        "$ref": "#/components/schemas/CustomerData"
                    }
                },
                "type": "object"
            },
            "LoginResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "$ref": "#/components/schemas/AuthData"
                            },
                            "message": {
                                "type": "string",
                                "example": "Authentification réussie"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "CustomerResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "$ref": "#/components/schemas/CustomerData"
                            },
                            "message": {
                                "type": "string",
                                "example": "Client récupéré avec succès"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "DeliveryAddress": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "label": {
                        "type": "string",
                        "example": "Maison principale"
                    },
                    "address": {
                        "type": "string",
                        "example": "123 Rue Principale"
                    },
                    "neighborhood": {
                        "type": "string",
                        "example": "Bonapriso"
                    },
                    "city": {
                        "type": "string",
                        "example": "Douala"
                    },
                    "country": {
                        "type": "string",
                        "example": "Cameroun"
                    },
                    "latitude": {
                        "type": "number",
                        "format": "float",
                        "example": 4.0511
                    },
                    "longitude": {
                        "type": "number",
                        "format": "float",
                        "example": 9.7679
                    },
                    "phone": {
                        "type": "string",
                        "example": "+237612345678"
                    },
                    "contact_name": {
                        "type": "string",
                        "example": "Jean Dupont"
                    },
                    "is_default": {
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "UserData": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 5
                    },
                    "first_name": {
                        "type": "string",
                        "example": "Jean"
                    },
                    "last_name": {
                        "type": "string",
                        "example": "Dupont"
                    },
                    "full_name": {
                        "type": "string",
                        "example": "Jean Dupont"
                    },
                    "email": {
                        "type": "string",
                        "example": "jean.dupont@example.com"
                    },
                    "phone_number": {
                        "type": "string",
                        "example": "+237612345678"
                    },
                    "address": {
                        "type": "string",
                        "example": "123 Rue Principale, Douala"
                    },
                    "is_active": {
                        "type": "boolean",
                        "example": true
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "customer"
                        }
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-07-04T14:47:11.000000Z",
                        "nullable": true
                    },
                    "phone_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-07-04T14:47:11.000000Z",
                        "nullable": true
                    },
                    "last_login_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-07-04T14:47:11.000000Z",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-07-04T14:47:11.000000Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-07-04T14:47:11.000000Z"
                    }
                },
                "type": "object"
            },
            "CustomerData": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/UserData"
                    },
                    {
                        "properties": {
                            "deliveryAddresses": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DeliveryAddress"
                                }
                            },
                            "current_balance": {
                                "type": "number",
                                "format": "float",
                                "example": 15000.5,
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "CustomersResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CustomerData"
                                }
                            },
                            "message": {
                                "type": "string",
                                "example": "Liste des clients récupérée avec succès"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "StoreCustomerDeliveryAddressRequest": {
                "required": [
                    "label",
                    "address"
                ],
                "properties": {
                    "label": {
                        "description": "Label for the delivery address",
                        "type": "string",
                        "example": "Maison secondaire"
                    },
                    "address": {
                        "description": "Full street address",
                        "type": "string",
                        "example": "456 Avenue de la Liberté"
                    },
                    "neighborhood": {
                        "description": "Neighborhood or district",
                        "type": "string",
                        "example": "Bali",
                        "nullable": true
                    },
                    "city": {
                        "description": "City",
                        "type": "string",
                        "example": "Yaoundé",
                        "nullable": true
                    },
                    "country": {
                        "description": "Country",
                        "type": "string",
                        "example": "Cameroun",
                        "nullable": true
                    },
                    "latitude": {
                        "description": "Latitude coordinate",
                        "type": "number",
                        "format": "float",
                        "example": 3.848,
                        "nullable": true
                    },
                    "longitude": {
                        "description": "Longitude coordinate",
                        "type": "number",
                        "format": "float",
                        "example": 11.502,
                        "nullable": true
                    },
                    "phone": {
                        "description": "Contact phone number",
                        "type": "string",
                        "example": "+237699887766",
                        "nullable": true
                    },
                    "contact_firstname": {
                        "description": "Contact person's first name",
                        "type": "string",
                        "example": "Marie",
                        "nullable": true
                    },
                    "contact_lastname": {
                        "description": "Contact person's last name",
                        "type": "string",
                        "example": "Curie",
                        "nullable": true
                    },
                    "email": {
                        "description": "Contact person's email address",
                        "type": "string",
                        "format": "email",
                        "example": "marie.curie@example.com",
                        "nullable": true
                    },
                    "address_precision": {
                        "description": "Additional details for address precision",
                        "type": "string",
                        "example": "Bâtiment C, 3ème étage",
                        "nullable": true
                    },
                    "is_default": {
                        "description": "Whether this is the default delivery address for the customer",
                        "type": "boolean",
                        "example": false,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "StoreCustomerDeliveryAddressResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "$ref": "#/components/schemas/DeliveryAddress"
                            },
                            "message": {
                                "type": "string",
                                "example": "Adresse de livraison créée avec succès"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "DeliveryType": {
                "title": "Delivery Type",
                "description": "Represents a single delivery type",
                "properties": {
                    "value": {
                        "description": "The unique identifier for the delivery type",
                        "type": "string",
                        "example": "standard"
                    },
                    "label": {
                        "description": "The human-readable label for the delivery type",
                        "type": "string",
                        "example": "Standard"
                    }
                },
                "type": "object"
            },
            "DeliveryTypesResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DeliveryType"
                                }
                            },
                            "message": {
                                "type": "string",
                                "example": "Delivery types retrieved successfully."
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "OrderItemRequest": {
                "required": [
                    "product_category_id",
                    "quantity"
                ],
                "properties": {
                    "product_category_id": {
                        "description": "ID de la catégorie de produit",
                        "type": "integer",
                        "example": 1
                    },
                    "quantity": {
                        "description": "Quantité de l'article",
                        "type": "integer",
                        "example": 2
                    },
                    "option": {
                        "description": "Option pour les bouteilles (e.g., content_only, bottle_with_content)",
                        "type": "string",
                        "enum": [
                            "content_only",
                            "bottle_with_content"
                        ],
                        "example": "bottle_with_content",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "StoreOrderRequest": {
                "required": [
                    "customer_id",
                    "delivery_address_id",
                    "distribution_center_id",
                    "delivery_type",
                    "payment_method",
                    "items"
                ],
                "properties": {
                    "customer_id": {
                        "description": "ID du client",
                        "type": "integer",
                        "example": 1
                    },
                    "delivery_address_id": {
                        "description": "ID de l'adresse de livraison",
                        "type": "integer",
                        "example": 1
                    },
                    "distribution_center_id": {
                        "description": "ID du centre de distribution",
                        "type": "integer",
                        "example": 1
                    },
                    "delivery_type": {
                        "description": "Type de livraison",
                        "type": "string",
                        "enum": [
                            "delivery",
                            "pickup"
                        ],
                        "example": "delivery"
                    },
                    "payment_method": {
                        "description": "Méthode de paiement",
                        "type": "string",
                        "enum": [
                            "mobile_money",
                            "credit_card"
                        ],
                        "example": "mobile_money"
                    },
                    "items": {
                        "description": "Liste des articles de la commande",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderItemRequest"
                        }
                    }
                },
                "type": "object"
            },
            "OrderItemResource": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "order_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "product_category_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "quantity": {
                        "type": "integer",
                        "example": 2
                    },
                    "unit_price": {
                        "type": "number",
                        "format": "float",
                        "example": 5000
                    },
                    "total_price": {
                        "type": "number",
                        "format": "float",
                        "example": 10000
                    },
                    "option": {
                        "type": "string",
                        "example": "bottle_with_content",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "DistributionCenterResource": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Centre Principal"
                    },
                    "country": {
                        "type": "string",
                        "example": "Cameroun"
                    },
                    "city": {
                        "type": "string",
                        "example": "Douala"
                    },
                    "neighborhood": {
                        "type": "string",
                        "example": "Bonanjo"
                    },
                    "address": {
                        "type": "string",
                        "example": "123 Rue Principale, Douala"
                    },
                    "description": {
                        "type": "string",
                        "example": "Centre de distribution principal avec toutes les commodités"
                    },
                    "latitude": {
                        "type": "number",
                        "format": "float",
                        "example": 4.0511
                    },
                    "longitude": {
                        "type": "number",
                        "format": "float",
                        "example": 9.7679
                    },
                    "phone": {
                        "type": "string",
                        "example": "+237612345678"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "centre.principal@petrolex.cm"
                    },
                    "is_active": {
                        "type": "boolean",
                        "example": true
                    },
                    "storage_capacity": {
                        "type": "integer",
                        "example": 1000,
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "OrderResource": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "order_number": {
                        "type": "string",
                        "example": "ORDER-123456789"
                    },
                    "customer_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "customer": {
                        "$ref": "#/components/schemas/CustomerData"
                    },
                    "delivery_address_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "delivery_address": {
                        "$ref": "#/components/schemas/DeliveryAddress"
                    },
                    "distribution_center_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "distribution_center": {
                        "$ref": "#/components/schemas/DistributionCenterResource"
                    },
                    "delivery_type": {
                        "type": "string",
                        "example": "normal"
                    },
                    "payment_method": {
                        "type": "string",
                        "example": "mobile_money"
                    },
                    "total_amount": {
                        "type": "number",
                        "format": "float",
                        "example": 23500
                    },
                    "status": {
                        "type": "string",
                        "example": "pending"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderItemResource"
                        }
                    }
                },
                "type": "object"
            },
            "StoreOrderResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "$ref": "#/components/schemas/OrderResource"
                            },
                            "message": {
                                "type": "string",
                                "example": "Commande créée avec succès"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "PaymentMethod": {
                "title": "Payment Method",
                "description": "Represents a single payment method",
                "properties": {
                    "value": {
                        "description": "The unique identifier for the payment method",
                        "type": "string",
                        "example": "credit_card"
                    },
                    "label": {
                        "description": "The human-readable label for the payment method",
                        "type": "string",
                        "example": "Carte de Crédit"
                    }
                },
                "type": "object"
            },
            "PaymentMethodsResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/PaymentMethod"
                                }
                            },
                            "message": {
                                "type": "string",
                                "example": "Payment methods retrieved successfully."
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "DistributionCenterProductsResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Product"
                                }
                            },
                            "message": {
                                "type": "string",
                                "example": "Produits récupérés avec succès"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "DistributionCenterData": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Centre Principal"
                    },
                    "country": {
                        "type": "string",
                        "example": "Cameroun"
                    },
                    "city": {
                        "type": "string",
                        "example": "Douala"
                    },
                    "neighborhood": {
                        "type": "string",
                        "example": "Bonanjo"
                    },
                    "address": {
                        "type": "string",
                        "example": "123 Rue Principale, Douala"
                    },
                    "description": {
                        "type": "string",
                        "example": "Centre de distribution principal avec toutes les commodités"
                    },
                    "latitude": {
                        "type": "string",
                        "example": "4.05110000"
                    },
                    "longitude": {
                        "type": "string",
                        "example": "9.76790000"
                    },
                    "phone": {
                        "type": "string",
                        "example": "+237612345678"
                    },
                    "email": {
                        "type": "string",
                        "example": "centre.principal@petrolex.cm"
                    },
                    "is_active": {
                        "type": "boolean",
                        "example": true
                    },
                    "storage_capacity": {
                        "type": "string",
                        "example": null,
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-07-04T14:47:11.000000Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-07-04T14:47:11.000000Z"
                    }
                },
                "type": "object"
            },
            "DistributionCentersResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DistributionCenterData"
                                }
                            },
                            "message": {
                                "type": "string",
                                "example": "Liste des centres de distribution récupérée avec succès"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "ApiResponse": {
                "description": "Réponse standard de l'API",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Opération réussie"
                    },
                    "data": {
                        "description": "Données retournées par l'API",
                        "type": "object",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "ErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                        "properties": {
                            "success": {
                                "type": "boolean",
                                "example": false
                            },
                            "message": {
                                "type": "string",
                                "example": "Une erreur est survenue."
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "ValidationErrorDetail": {
                "type": "array",
                "items": {
                    "type": "string",
                    "example": "Le champ email est requis."
                }
            },
            "ValidationErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ApiResponse"
[...]
